<h3>Ajouter un nouvel Article</h3>
<div>
  <form #newPostForm="ngForm">
    <div class="form-group" [(ngModel)]="newPost">
      <input type="text" name="title" [(ngModel)]="newPost.title">
      <input type="text" name="description" [(ngModel)]="newPost.description">
      <!-- <input type="textarea" name="" [(ngModel)]="newPost.text"> -->
      <textarea name="" id="" cols="100" rows="5"></textarea>

      <button (click)="addNewPost(newPost)">Publiez</button>
      <p></p>
    </div>

  </form>

</div>
