@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

$primary: rgb(75, 129, 200);

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", "sans-serif";
  font-size: 18px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

header {
  background: $primary;
  padding: 1em 0;

  a {
    color: white;
    text-decoration: none;
  }

  a.logo {
    font-weight: bold;
  }

  nav {
    float: right;

    ul{
      list-style-type: none;
      margin: 0;
      display: flex;

      li a {
        padding: 1em;

        &:hover {
          background: darken($primary, 10%);
        }
      }
    }
  }

}

h1 {
  margin-top: 2em;
}
